<!-- 
    Este archivo representa la plantilla HTML para la creación de un nuevo punto de interés.
    Contiene un formulario con campos para ingresar información como nombre, latitud, longitud, nomenclatura, número de obras en venta, horario, teléfono y fotografía de la fachada.
    Al enviar el formulario, los datos se envían a la misma URL y se espera que sean procesados por el servidor.
    Se utiliza Bootstrap para estilizar la página y se incluyen los scripts necesarios para su funcionamiento.
-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>📌 Nuevo punto de interés 📌</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            background-color: #000;
            color: #fff;
            margin: 10px;
            font-family: Courier;
        }
        #formulario {
            width: 95%;
            margin-top: 80px;
        }
    </style>    
</head>
<body>
<center>
<div id="formulario" class="container">
    <h2><b>Crear nuevo punto de interés 📌</b></h2>
    <form action="{{request.path}}" method="POST" enctype="multipart/form-data">
    
        <input type="text" name="nombre" placeholder="Nombre" required class="form-control" style="margin-bottom: 10px;">
        <input type="number" name="latitud" placeholder="Latitud" required class="form-control" style="margin-bottom: 10px;">
        <input type="number" name="longitud" placeholder="Longitud" required class="form-control" style="margin-bottom: 10px;">
        <input type="text" name="nomenclatura" placeholder="Nomenclatura" required class="form-control" style="margin-bottom: 10px;">
        <input type="text" name="numeroObrasVenta" placeholder="Número de obras en venta" required class="form-control" style="margin-bottom: 10px;">
        <input type="text" name="horario" placeholder="Horario" required class="form-control" style="margin-bottom: 10px;">
        <input type="text" name="telefono" placeholder="Telefono" required class="form-control" style="margin-bottom: 10px;">
        <h4><b><label for="fotografiaFachada">Fotografía de la fachada 📷:</label></b></h4>
        <input type="file" name="fotografiaFachada" accept="image/*" required class="form-control" style="margin-bottom: 10px;">
        <br><input type="submit" value="Crear punto de interés" class="btn btn-outline-light">
       
    </form>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</center>
</body>
</html>