<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo punto de interés</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

    <h/3>Crear nuevo punto de interés</h3>

<div class="container">
    <form method="POST">
    
        <!-- Controles: nombre, latitud, longitud, nomenclatura, numeroObrasVenta, horario, fotografíaFachada -->
        
        <input type="text" name="nombre" placeholder="Nombre" required class="form-control" style="margin-bottom: 10px;">
        <input type="text" name="latitud" placeholder="Latitud" required class="form-control" style="margin-bottom: 10px;">
        <input type="text" name="longitud" placeholder="Longitud" required class="form-control" style="margin-bottom: 10px;">
        <input type="text" name="nomenclatura" placeholder="Nomenclatura" required class="form-control" style="margin-bottom: 10px;">
        <input type="text" name="numeroObrasVenta" placeholder="Número de obras en venta" required class="form-control" style="margin-bottom: 10px;">
        <input type="text" name="horario" placeholder="Horario" required class="form-control" style="margin-bottom: 10px;">
        <label for="fotografiaFachada">Fotografía de la fachada:</label>
        <input type="file" name="fotografiaFachada" accept="image/*" required class="form-control" style="margin-bottom: 10px;">
        <input type="submit" value="Crear punto de interés" class="btn btn-primary">
       
    </form>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>