<!DOCTYPE html>
<html lang="en">
<head>
	<base target="_top">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Visor Geográfico</title>
	
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

</head>
<body>

<center>
<h1>Visor geográfico</h1>
<div id="map" style="width: 800px; height: 800px;"></div>
<script>

	const map = L.map('map').setView([4.6420528840546265, -74.07352672444107], 16);

	const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 18,
		minZoom: 16,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(map);

	{% for puntoInteres in puntosInteres %}
		var marker = L.marker([{{puntoInteres.latitud}}, {{puntoInteres.longitud}}]).addTo(map) 
			.bindPopup('<center><img src="../static/{{puntoInteres.fotografiaFachada}}" style="height:180px"></center><div style="font-size: 16px; width: 310px; height:20px;text-align: center;line-height: 15px;"><b><br>{{puntoInteres.nombre}}</b></div><br>Dirección: {{puntoInteres.nomenclatura}}<br>Latitud: {{puntoInteres.latitud}}<br>Longitud: {{puntoInteres.longitud}}<br>Horario: {{puntoInteres.horario}}<br>Telefono: {{puntoInteres.telefono}}<br>Numero de obras a la venta: {{puntoInteres.numeroObrasVenta}}');
	{% endfor %}

</script>
<div>
	<a href="http://127.0.0.1:5000/nuevoPuntoInteres" class="btn btn-primary">Crear nuevo punto de interés</a>
</div> 
</center>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>